.header {
    text-align: center;
    background: lightgrey;
    padding: 150px;
}


 .image1 {
    max-width: 100%;
}

.Box {
    margin-bottom: -100px;
}

.gallery {
    margin: -9px 0px;
    display: flex;
}

.gallery img {
    width: 495px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
}