.my-form {
    width: 300px;
    border: 15px solid lightgrey;
    padding: 50px;
    margin: Auto;
    margin-top: 60px;
    background: transparent;
    width: 600px;
    display: block;
}

.Signup .my-header {
    text-align: center;
}

.Signup .input-fields{
    display: block;
}

