.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar .Links {
    display: flex;
    float: right;
    font-size: 28px;
    padding: 28px;
}

.navbar a {
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    color: black;
}

.navbar .blocks header {
    padding-top: 100px;
    background-color: rgb(29, 29, 29);
    height: 0px;
    margin-top: 0px;   
}


